@import "styles/colors.scss";
@import "styles/mixins.scss";

.contact-links {
  .title {
    @include dynamic-text(2.5em);
    font-weight: 350;
  }

  .text {
    @include dynamic-text(1.5em);
    font-weight: 300;
  }

  .textIcon {
    @include dynamic-text(1.5em);
    font-weight: 300;
  }

  .linebreak {
    height: 3px;
    border: 0;
    background: linear-gradient(
      to right,
      transparent,
      $color-off-white,
      $color-off-white,
      transparent
    );
  }

  .icon {
    @include dynamic-text(3em);
  }
}
