@import "styles/mixins.scss";
@import "styles/mediaQueries.scss";

#service {
  #service-image {
    height: 500px;
    @include sm {
      height: 300px;
    }
    @include md {
      height: 400px;
    }
    .title {
      font-weight: 700;
      @include dynamic-text(2em);
    }
    .subtitle {
      font-weight: 300;
      @include dynamic-text(1.5em);
    }
    .price {
      font-weight: 700;
      @include dynamic-text(4em);
    }
  }
  #service-text {
    .title {
      font-weight: 500;
      @include dynamic-text(1.5em);
    }
    .text {
      font-weight: 100;
      @include dynamic-text(1.25em);
    }
  }
}
