// Primary Color Scheme
$color-black: #0a0b0d;
$color-near-black: #050505;
$color-off-white: #fffafa;
$color-grey: #aeaeae;
$color-light-grey: #bdbdbd;

// Card Colours
$color-dark-grey: #2b2b2b;

// Transparent black
$transparent-black: #10101036;

:export {
  colorBlack: #101010;
}
