@import "styles/colors.scss";

.page-header {
  height: 70vh;
  //   Add margin top for the navbar in the future
  //   margin-top: $navbar-height;
  //   @include xs {
  //     margin-top: $navbar-height - 50;
  //   }

  .page-header-title,
  .page-header-caption {
    font-family: "Open sans";
    font-weight: 300;
    color: $color-off-white;
  }
  .page-header-title {
    font-size: 4em;
  }
  .page-header-caption {
    font-size: 1.75em;
  }
}
