@import "styles/colors";

header {
    img {
        filter: brightness(0) invert(1);
    }
}

#nav-content {
    h2 {
        font-size: 1.5em;
        font-weight: 500;
    }
    span {
        border-right: 2px solid $color-off-white;
    }
    a {
        font-size: 1.3em;
        font-weight: 300;
        color: $color-off-white;
    }
}
