@import "styles/mixins.scss";
@import "styles/mediaQueries.scss";
@import "styles/colors.scss";

h1,
h2,
h3,
h4,
p {
    color: #fffafa;
    font-weight: 100;
    font-family: "Open Sans";
}

#landing-header {
    height: 100vh;
    transition: background-position 0.5s;

    h1 {
        @include dynamic-header(5em);
    }
    p {
        @include dynamic-header(2.5em);
    }
}

#about-section {
    height: 100vh;

    h2 {
        @include dynamic-header(4.5em);
    }
    p {
        @include dynamic-header(1.9em);
    }
}

#customers-section {
    background-color: $color-near-black;

    h2 {
        @include dynamic-header(4.5em);
    }

    p {
        @include dynamic-text(1.2em)
    }
    .customer {
        color: $color-light-grey;
        @include dynamic-text(1.0em);
    }
    
}

#contact-section {
    height: 50vh;
    h3 {
        font-weight: 500;
        @include dynamic-text(4em);
        //@include dynamic-text(5em);
    }
    h4 {
        text-decoration: underline;
        @include dynamic-text(2.5em);
        //@include dynamic-fonts(2em);
    }
}
