.landing-page {
  height: 100vh;
  background-size: cover;
  background-position: center;

  // margin-top: $navbar-height;
  // @include mobile {
  //   margin-top: $navbar-height - 50;
  // }

  // display: flex;
  // justify-content: center;
  // align-items: center;

  // .page-header-text {
  //   font-family: "Roboto";
  //   color: $color-white;
  //   @include dynamic-fonts($font-size-header);
  // }
}
