@import "styles/mixins.scss";
@import "styles/colors.scss";

.testimony-content {
    h3 {
        font-size: 2.5em;
    }

    p {
        @include dynamic-text(1.5em);
    }

    a {
        color: $color-grey;
        text-decoration: underline;
    }
}